@model Empresa.com.Models.Empresa_
           
<h1><center> GuiaEmpresaSa.com</center></h1>
<section id="container">
   
     <!--inicia a header-->
   
    
    
     <header class="header fixed-top clearfix">
       
        
         <!--logo iniciado-->
       
        
         <div class="brand">

            <a href="/Home/Index" class="logo">
                <h3>GuiaEmpresaSA</h3>
            </a>

        </div>
        
        
        <!--fim do logo -->

        <div class="nav notify-row" id="top_menu">
           
             <!--  inicia notificaçao -->

            <br />


            <!--  fim da notificaçao -->
        </div>
        <div class="top-nav clearfix">            
            <ul class="nav pull-right top-menu">
                <li>
                    <input type="text" class="form-control search" placeholder=" Search">
                </li>
                <li><a href="/Home/Login">Logout</a> </li>
            </ul>
    <!--search & user info end-->
        </div>
    </header>
    <!--fim do header-->
    <aside>
        <div id="sidebar" class="nav-collapse">
                        <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    
                </ul>
            </div>
            
        </div>
    </aside>
   
    <section id="main-content">
        <section class="wrapper">
            
           
            <section class="panel">
                <header class="panel-heading">
                    Cadastro de Empresa
                                </header>
                <div class="panel-body">
                    <div class="position-center">
                        <form role="form">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nome Da Empresa</label>
                                <input type="text" class="form-control" id="exampleInputEmail1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Descrição</label>
                                <input type="text" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">Foto/logo"<i><small> Tamanho 240x180</small></i>"</label>
                                <input type="file" id="exampleInputFile">
                                
                            </div>
                            <button type="submit" class="btn btn-info">Enviar</button>
                        </form>
                    </div>
                </div>
            </section>
            
        </section>
    </section>
   
</section>
