<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa</title>
    <link href="~/Content/css/metro-bootstrap.css" rel="stylesheet" />
    
    <link href="~/Content/cssPortfolioIndex/button.css" rel="stylesheet" />
    <link href="~/Content/cssPortfolioIndex/form.css" rel="stylesheet" />
    <link href="~/Content/cssPortfolioIndex/hover.css" rel="stylesheet" />
    <link href="~/Content/cssPortfolioIndex/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/cssPortfolioIndex/responsive.css" rel="stylesheet" />
    <link href="~/Content/cssPortfolioIndex/style.css" rel="stylesheet" />

    <script src="~/Scripts/js/Jquery.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>

</head>
<body>
 
    @RenderBody()
    
    <img src="~/Content/imgLogin/sa.jpg" />
    <ul style="color:mediumvioletred;">
        <li>Cnpj: 99.999.999/9999-99</li>
        <li>Endereço: Av: Canaã Nº 700 Centro Ariquemes-Ro</li>
        <li>Contato: 69-9999-9999</li>
        <li>Horario De Atendimento: Das 8:00 As 18:00</li>        
        <li>Observações:Sempre com os melhores preços e promoçoes para você!!</li>
    </ul>

</body>
</html>