<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuiaEmpresaSa.com</title>
    <link href="~/Content/cssLogin/style.css" rel="stylesheet" />
    <script src="~/Scripts/js/Jquery.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
</head>
<body>
 
    @RenderBody()
    <h1>GuiaEmpresaSa.com</h1>
    <h3>Tecnologia Em Sistemas Para Internet</h3>

</body>
</html>