<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel</title>
    <script src="~/Areas/Scripts/jsPainel/jquery.js"></script>

    <link href="/Areas/Content/cssPainel/bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Areas/Content/cssPainel/bootstrap-reset.css" rel="stylesheet">
    <link href="~/Areas/Outros/font-awesome/css/font-awesome.css" rel="stylesheet" />

    
    <link href="/Areas/Content/cssPainel/style.css" rel="stylesheet">
    <link href="/Areas/Content/cssPainel/style-responsive.css" rel="stylesheet" />
</head>
<body>

        @RenderBody()
    
    <script src="~/Scripts/js/jquery.js"></script>
    <script src="/Areas/Content/cssPainel/bs3/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/Areas/Scripts/jsPainel/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Areas/Scripts/jsPainel/jquery.scrollTo.min.js"></script>
    <script src="~/Areas/Scripts/jsPainel/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
    <script src="~/Areas/Scripts/jsPainel/jquery.nicescroll.js"></script>
   
    <script src="~/Areas/Scripts/jsPainel/easypiechart/jquery.easypiechart.js"></script>
   
    <script src="~/Areas/Scripts/jsPainel/sparkline/jquery.sparkline.js"></script>
   
    <script src="~/Areas/Scripts/jsPainel/flot-chart/jquery.flot.js"></script>
    <script src="~/Areas/Scripts/jsPainel/flot-chart/jquery.flot.tooltip.min.js"></script>
    <script src="~/Areas/Scripts/jsPainel/flot-chart/jquery.flot.resize.js"></script>
    <script src="~/Areas/Scripts/jsPainel/flot-chart/jquery.flot.pie.resize.js"></script>


    <script src="~/Areas/Scripts/jsPainel/scripts.js"></script>

    <script src="~/Scripts/js/bootstrap.min.js"></script>
</body>
</html>